/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-logo {
  width: 250px;
  height: 150px;
}
@media screen and(min-width:768px) {
  .google-logo {
    width: 1050px;
    height: 200px;
  }
}
.suggestions-container {
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 25px;
}
.search {
  display: flex;
}
.search-icon {
  width: 30px;
  height: 25px;
}
.input {
  outline: none;
  width: 100%;
}
.list-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
